* {
	border: 1px solid red;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


// extented properties 
%dayMiniature {
	display: flex;
	width: 10%;
	height: 16%;
	margin: 0 2%;
	align-self: flex-end; 
	a {	
		width: 100%;
		text-decoration: none;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		color: black;
		span {
			color: red;
			font-size: 1.5em;
			font-weight: bold;text-transform: capitalize;
		}
	}
}
//end of extended properties 

body {
	margin: 0;
	padding: 0;
	.navigation {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		>ul {
			padding: 0;
			display: flex;
			flex: 1;
			list-style-type: none;
			overflow: hidden;
			li {
				display: flex;
				justify-content: center;
				align-items: center;
				flex: 1;
				text-align: center;
				padding: 0;
				user-select: none;
				text-transform: uppercase;
				font-size: 4em;
				&:nth-child(2) {
					flex: 3;
					font-size: 2em;
					letter-spacing: 3px;
					font-weight: bold;
					a {
						text-decoration: none;
					}
				}
				&:nth-child(odd) {
					cursor: pointer;
				}
			}
		}
		.content {
			display: flex;
			flex-wrap: wrap;
			flex: 9;
			flex-direction: row;
  			justify-content: flex-end;
			//justify-content: center;
			align-items: flex-end;
			.dayMiniature {
				@extend %dayMiniature;
			}
			.dayMiniatureWithMessage {
				@extend %dayMiniature;
				box-shadow: 0px 0px 20px 5px #00ff00;
			}
			.dayMiniatureIsToday {
				@extend %dayMiniature;
				border: 5px solid blue;
			}
			.dayMiniatureSaturday {
				@extend %dayMiniature;
				background-color: yellow;
				a {
					span {
						color: red;
					}
				}
			}
			.dayMiniatureSunday {
				@extend %dayMiniature;
				background-color: red;
				a {
					span {
						color: white;
					}
				}
			}
		}
		.day {
			display: flex;
			flex: 9;
			flex-direction: column;
			.miniCalendar {
				display: flex;
				flex: 1.5;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				>div {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 2vw;
					height: 2vw;
					margin: 5px;
					padding: 1%;
					border-radius: 50%;
					a {
						text-decoration: none;
						color: black;

					}
				}
				>div.isSaturday {
					background-color: yellow;
				}
				>div.isSunday {
					background-color: red;
					a {
						color: white;
					}
				}
				>div.isMessage {
					box-shadow: 0px 0px 15px 3px #00ff00;
				}				 
			}
			span {
				display: flex;
				flex: 1;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				h2, h3 {
					text-align: center;
				}
			}
			form {
				display: flex;
				flex: 3;
				flex-direction: column;
				textarea {
					flex: 5;
					text-align: center;
					background-color: #ccebff;
				}
				.controls {
					
				}
			}
			ul.postList {
				display: flex;
				justify-content: center;
				align-items: center;
				flex: 4.5;
				overflow: scroll;
				flex-direction: column;
				text-align: center;
				padding: 0;
				margin: 0;
				li {
					display: flex;
					min-height: 30%;
					width: 100%;
					span.number{
						flex: 1;
					}
					span.text{
						flex: 8;
					}
					span.delete{
						flex: 1
					}
				}
				
			}

		}
	}
}