@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

:root {
	--main-color: rgb(0, 168, 234); //var(--main-color);
}

* {
	//border: 1px solid red;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


// extented properties 
%dayMiniature {
	display: flex;
	justify-content: center;
	width: 14.28%;
	min-height: calc(78vh / 6);
	max-height: calc(78vh / 5);
	a {	
		background-color: white;
		color: var(--main-color);
		border-radius: 50%;
		min-height: 100%;
		min-width: calc(78vh / 6);
		max-width: calc(78vh / 5);
		text-decoration: none;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		transition: .3s;
		position: relative;
		&:hover {
			box-shadow: 5px 5px 5px rgb(1, 101, 137);
			transform:scale(1.05);
		}
		span#numberOfDay {
			font-size: 2em;
		}
		span#nameOfday {
			font-size: .9em;
			font-weight: bold;
		}
		span#envelope {
			display: none;
		}
	}
}


body {
	margin: 0;
	padding: 0;
	font-family: 'Nunito Sans', sans-serif;
	.navigation {
		background-color: var(--main-color);
		position: relative;
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		>ul {
			padding: 0;
			display: flex;
			width: 100%;
			height: 20%;
			list-style-type: none;
			overflow: hidden;
			li {
				display: flex;
				justify-content: center;
				align-items: center;
				flex: 1;
				text-align: center;
				padding: 0;
				user-select: none;
				text-transform: uppercase;
				font-size: 3em;
				color: white;
				transition: .2s;
				&:hover {
					transform: scale(.98);
					cursor: pointer;
				}
				&:nth-child(2) {
					font-size: 2em;
					letter-spacing: 10px;
					font-weight: bold;
					a {
						text-decoration: none;
						color: white;
					}
				}
				&:nth-child(1) {
					&:hover {
						transform: translate(-5%);
					}
				}
				&:nth-child(3) {
					&:hover {
						transform: translate(5%);
					}
				}
			}
		}
		.content {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			height: 80%;
			align-items: center;
			.breaker {
				display: none;
			}
			.dayMiniature {
				@extend %dayMiniature;
			}
			.dayMiniatureWithMessage {
				@extend %dayMiniature;
				a {
					span#envelope {
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 1.2em;
						color: rgb(0, 204, 0);
						text-shadow: 0px 0px 5px #00b300;
						position: absolute;
						animation: pulse 3s infinite;
						&:after {
							content: '!';
							font-size: 1.3em;
						}
					}
					@keyframes pulse {
						0% {transform:scale(1) translateX(70%) translateY(30%);}
						50% {transform:scale(1.15) translateX(70%) translateY(30%);}
						100% {transform:scale(1) translateX(70%) translateY(30%);}
					}
				}
			}
			.dayMiniatureIsToday {
				@extend %dayMiniature;
				a {
					border: 4px solid ;
				}
			}
			.dayMiniatureSaturday {
				@extend %dayMiniature;
				a {
					color: #e68a00;
				}
			}
			.dayMiniatureSunday {
				@extend %dayMiniature;
				a {
					color: #e60000;
				}
				&+.breaker {
					display: flex;
					flex-basis: 100%;
					height:0%;
				}
			}
			.dayToLeft {
				@extend %dayMiniature;
				margin-right: auto;
			}
			.dayToRight {
				@extend %dayMiniature;
				margin-left: auto;
			}
		}
		.day {
			display: flex;
			width: 100%;
			height: 80%;
			flex-direction: column;
			.miniCalendar {
				display: flex;
				width: 100%;
				height: 10%;
				flex-wrap: wrap;
				justify-content: space-between;
				padding: 0 3%;
				>div {
					position: relative;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					align-items: center;
					width: 2vw;
					a {
						text-decoration: none;
						color: var(--main-color);
						font-size: .8em;
						font-weight: bold;
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 50%;
						width: 100%;
						height: 2vw;
						background-color: white;
						transition: .2s;
						&:hover {
							box-shadow: 5px 5px 5px rgb(1, 101, 137);
							transform: scale(1.2);
						}
					}
					>span.isMessageMini {
						display: none;
					}
					>span.dayNameMini {
						width: 100%;
						color: white;
						text-align: center;
						font-size: .6em;
						font-weight: bold;
					}
				}
				>div.isSaturday {
					a, span.dayNameMini {
						color: #e68a00;
					}
				}
				>div.isSunday {
					a, span.dayNameMini {
						color: #e60000;
					}
				}
				>div.isToday {
					a {
						border: 1px solid rgb(0, 92, 232);
					}
				}
				>div.isMessage {
					span.isMessageMini {
						display: inline-block;
						position: absolute;
						color: rgb(0, 204, 0);
						text-shadow: 0px 0px 3px #00b300;
						transform: translateY(10%);
						font-size: .8em;
						font-weight: bolder;
						user-select: none;
					}
				}
				>div.currentActive {
					a {
						box-shadow: 5px 5px 5px rgb(1, 101, 137);
						transform: scale(1.2);
					}
				}				 
			}
			.postsPanel {
				display: flex;
				width: 100%;
				height: 100%;
				flex-direction: row;
				.formPanel {
					display: flex;
					flex: .7;
					justify-content: center;
					align-items: center;
					form {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						width: 90%;
						height: 90%;
						border-radius: 10px;
						textarea {
							width: 100%;
							height: 90%;
							border-radius: 10px 010px 0px 0px; 
							text-align: center;
							padding: 10%;
							resize: none;
						}
						.controls {
							display: flex;
							width: 100%;
							border-radius: 0px 0px 10px 10px;
							flex: 1;
							input, label {
								display: flex;
								flex: 1;
								justify-content: center;
								align-items: center;
								text-transform: capitalize;
								input {
									max-width: 10%; 
								}
							}
							#sub {
								border-radius: 0px 0px 10px 0px;
							}
							#notes {
								background-color: lightblue;
								border-radius: 0px 0px 0px 10px;
							}
							#handover {
								background-color: orange;
							} 
							#lookbook {
								background-color: green;
							}
						}
					}
				}
				.allLists {
					display: flex;
					flex: 1.3;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					background-color: white;
					margin: 1.7%;
					border-radius: 10px 10px 10px 10px;
					.listSelect {
						display: flex;
						width: 100%;
						height: 10%;
						border-radius: 10px 10px 0px 0px;
						label {
							display: flex;
							flex: 1;
							justify-content: center;
							align-items: center;
							text-transform: capitalize;
							&:nth-child(1) {
								background-color: white;
								color: var(--main-color);
								border-radius: 10px 0px 0px 0px;
							}
							&:nth-child(2) {
								background-color: lightblue;
							}
							&:nth-child(3) {
								background-color: orange;
							}
							&:nth-child(4) {
								background-color: green;
								border-radius: 0px 10px 0px 0px;
							}
						}
					}
					ul {
						h3 {
							height: 10%;
							display: flex;
							justify-content: center;
							align-items: center;
							text-transform: uppercase;
							font-size: .8em;
						}
						background-color: white;
						transition: background-color 400ms;
						width: 100%;
						height: 90%;
						border-radius: 0px 0px 10px 10px;
						list-style-type: none;
						overflow-y: auto;
						li {
							display: flex;
							flex-direction: row;
							flex-wrap: wrap;
							margin: 1%;
							border-radius: 8px;
							border: 1px solid var(--main-color);
							span {
								display: flex;
								justify-content: center;
								align-items: center;
								margin: 1%;
							}
							span.number {
								display: flex;
								flex: .5;
							}
							div.postContent {
								flex: 20;
								flex-direction: column;
								div.postSubContent {
									display: flex;
									flex-direction: row;
									justify-content: space-between;
									font-size: .9em;
									font-style: oblique;
								}
								span.text {
									font-size: 1.2em;
								}
								div.settings {
									display: flex;
									flex-direction: row;
									justify-content: space-between;
									span.editer, span.delete {
										cursor: pointer;
										color: red;
										font-weight: bold;
									}
								}
							}
							.editPosterDeactive {
								display: none;
							}
							.editPosterActive {
								justify-content: center;
								align-items: center;
								position: absolute;
								background-color: rgba(0, 0, 0, .8);
								z-index: 1000;
								display: flex;
								width: 100vw;
								height: 100vh;
								top: 0;
								left: 0;
								form {
									width: 90%;
									height: 40%;
									textarea {
										width: 40%;
										height: 50%;
									}
								}
							}
						}
					}
					ul.allPostList {
						background-color: white;

					}
					ul.notesPostList {
						background-color: lightblue;
					}
					ul.handoverPostList {
						background-color: orange;
					}
					ul.lookbookPostList {
						background-color: green;
					}
					ul.allPostListDeactive {
						display: none;
					}
					ul.notesPostListDeactive {
						display: none;
					}
					ul.handoverPostListDeactive {
						display: none;
					}
					ul.lookbookPostListDeactive {
						display: none;
					}
				}
			}
		}
	}
}