* {
  border: 1px solid red;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body .navigation .content .dayMiniature, body .navigation .content .dayMiniatureWithMessage, body .navigation .content .dayMiniatureIsToday, body .navigation .content .dayMiniatureSaturday, body .navigation .content .dayMiniatureSunday, body .navigation .content .dayToLeft, body .navigation .content .dayToRight {
  display: flex;
  width: 14.28%;
  height: 16%; }
  body .navigation .content .dayMiniature a, body .navigation .content .dayMiniatureWithMessage a, body .navigation .content .dayMiniatureIsToday a, body .navigation .content .dayMiniatureSaturday a, body .navigation .content .dayMiniatureSunday a, body .navigation .content .dayToLeft a, body .navigation .content .dayToRight a {
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black; }
    body .navigation .content .dayMiniature a span, body .navigation .content .dayMiniatureWithMessage a span, body .navigation .content .dayMiniatureIsToday a span, body .navigation .content .dayMiniatureSaturday a span, body .navigation .content .dayMiniatureSunday a span, body .navigation .content .dayToLeft a span, body .navigation .content .dayToRight a span {
      color: red;
      font-size: 1.5em;
      font-weight: bold;
      text-transform: capitalize; }

body .navigation .day .postForm, body .navigation .day ul li .editPosterActive {
  display: flex;
  flex: 3;
  flex-direction: column; }
  body .navigation .day .postForm textarea, body .navigation .day ul li .editPosterActive textarea {
    flex: 5;
    text-align: center;
    background-color: #ccebff; }
  body .navigation .day .postForm .controls, body .navigation .day ul li .editPosterActive .controls {
    display: flex; }
    body .navigation .day .postForm .controls input, body .navigation .day ul li .editPosterActive .controls input, body .navigation .day .postForm .controls label, body .navigation .day ul li .editPosterActive .controls label {
      flex: 1;
      text-align: center; }
    body .navigation .day .postForm .controls #notes, body .navigation .day ul li .editPosterActive .controls #notes {
      background-color: lightblue; }
    body .navigation .day .postForm .controls #handover, body .navigation .day ul li .editPosterActive .controls #handover {
      background-color: orange; }
    body .navigation .day .postForm .controls #lookbook, body .navigation .day ul li .editPosterActive .controls #lookbook {
      background-color: green; }

body .navigation .day ul.allPostList, body .navigation .day ul.notesPostList, body .navigation .day ul.handoverPostList, body .navigation .day ul.lookbookPostList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 4;
  overflow-y: auto;
  flex-direction: column;
  text-align: center;
  padding: 0;
  margin: 0; }
  body .navigation .day ul.allPostList li, body .navigation .day ul.notesPostList li, body .navigation .day ul.handoverPostList li, body .navigation .day ul.lookbookPostList li {
    display: flex;
    min-height: 30%;
    width: 100%; }
    body .navigation .day ul.allPostList li span.number, body .navigation .day ul.notesPostList li span.number, body .navigation .day ul.handoverPostList li span.number, body .navigation .day ul.lookbookPostList li span.number {
      flex: 1; }
    body .navigation .day ul.allPostList li span.text, body .navigation .day ul.notesPostList li span.text, body .navigation .day ul.handoverPostList li span.text, body .navigation .day ul.lookbookPostList li span.text {
      flex: 8; }
    body .navigation .day ul.allPostList li span.delete, body .navigation .day ul.notesPostList li span.delete, body .navigation .day ul.handoverPostList li span.delete, body .navigation .day ul.lookbookPostList li span.delete {
      flex: 1;
      cursor: pointer; }
  body .navigation .day ul.allPostList li.notesPost, body .navigation .day ul.notesPostList li.notesPost, body .navigation .day ul.handoverPostList li.notesPost, body .navigation .day ul.lookbookPostList li.notesPost {
    background-color: lightblue;
    color: black; }
  body .navigation .day ul.allPostList li.lookbookPost, body .navigation .day ul.notesPostList li.lookbookPost, body .navigation .day ul.handoverPostList li.lookbookPost, body .navigation .day ul.lookbookPostList li.lookbookPost {
    background-color: green;
    color: white; }
  body .navigation .day ul.allPostList li.handoverPost, body .navigation .day ul.notesPostList li.handoverPost, body .navigation .day ul.handoverPostList li.handoverPost, body .navigation .day ul.lookbookPostList li.handoverPost {
    background-color: orange;
    color: white; }
  body .navigation .day ul.allPostList li.handoverAndlookbookPost, body .navigation .day ul.notesPostList li.handoverAndlookbookPost, body .navigation .day ul.handoverPostList li.handoverAndlookbookPost, body .navigation .day ul.lookbookPostList li.handoverAndlookbookPost {
    background-color: blue;
    color: white; }

body {
  margin: 0;
  padding: 0; }
  body .navigation {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column; }
    body .navigation > ul {
      padding: 0;
      display: flex;
      flex: 1;
      list-style-type: none;
      overflow: hidden; }
      body .navigation > ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        text-align: center;
        padding: 0;
        user-select: none;
        text-transform: uppercase;
        font-size: 4em; }
        body .navigation > ul li:nth-child(2) {
          flex: 3;
          font-size: 2em;
          letter-spacing: 3px;
          font-weight: bold; }
          body .navigation > ul li:nth-child(2) a {
            text-decoration: none; }
        body .navigation > ul li:nth-child(odd) {
          cursor: pointer; }
    body .navigation .content {
      display: flex;
      flex-wrap: wrap;
      flex: 9;
      align-items: center; }
      body .navigation .content .breaker {
        display: none; }
      body .navigation .content .dayMiniatureWithMessage {
        box-shadow: 0px 0px 20px 5px #00ff00; }
      body .navigation .content .dayMiniatureIsToday {
        border: 5px solid blue; }
      body .navigation .content .dayMiniatureSaturday {
        background-color: yellow; }
        body .navigation .content .dayMiniatureSaturday a span {
          color: red; }
      body .navigation .content .dayMiniatureSunday {
        background-color: red; }
        body .navigation .content .dayMiniatureSunday a span {
          color: white; }
        body .navigation .content .dayMiniatureSunday + .breaker {
          display: flex;
          flex-basis: 100%;
          height: 0%; }
      body .navigation .content .dayToLeft {
        margin-right: auto; }
      body .navigation .content .dayToRight {
        margin-left: auto; }
    body .navigation .day {
      display: flex;
      flex: 9;
      flex-direction: column; }
      body .navigation .day .miniCalendar {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; }
        body .navigation .day .miniCalendar > div {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 2vw;
          height: 2vw;
          margin: 5px;
          padding: 1%;
          border-radius: 50%; }
          body .navigation .day .miniCalendar > div a {
            text-decoration: none;
            color: black; }
        body .navigation .day .miniCalendar > div.isSaturday {
          background-color: yellow; }
        body .navigation .day .miniCalendar > div.isSunday {
          background-color: red; }
          body .navigation .day .miniCalendar > div.isSunday a {
            color: white; }
        body .navigation .day .miniCalendar > div.isMessage {
          box-shadow: 0px 0px 15px 3px #00ff00; }
      body .navigation .day span.currentDay {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        body .navigation .day span.currentDay h2, body .navigation .day span.currentDay h3 {
          text-align: center; }
      body .navigation .day span.listSelect {
        flex: 1;
        display: flex;
        justify-content: space-between;
        flex-direction: row; }
      body .navigation .day ul.notesPostList {
        background-color: lightblue; }
      body .navigation .day ul.handoverPostList {
        background-color: orange; }
      body .navigation .day ul.lookbookPostList {
        background-color: green; }
      body .navigation .day ul.allPostListDeactive {
        display: none; }
      body .navigation .day ul.notesPostListDeactive {
        display: none; }
      body .navigation .day ul.handoverPostListDeactive {
        display: none; }
      body .navigation .day ul.lookbookPostListDeactive {
        display: none; }
      body .navigation .day ul li span.editer {
        cursor: pointer; }
      body .navigation .day ul li .editPosterDeactive {
        display: none; }
      body .navigation .day ul li .editPosterActive {
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1000;
        display: flex;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0; }
        body .navigation .day ul li .editPosterActive form {
          width: 90%;
          height: 40%; }
          body .navigation .day ul li .editPosterActive form textarea {
            width: 40%;
            height: 50%; }
