@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");
:root {
  --main-color: rgb(0, 168, 234); }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body .navigation .content .dayMiniature, body .navigation .content .dayMiniatureWithMessage, body .navigation .content .dayMiniatureIsToday, body .navigation .content .dayMiniatureSaturday, body .navigation .content .dayMiniatureSunday, body .navigation .content .dayToLeft, body .navigation .content .dayToRight {
  display: flex;
  justify-content: center;
  width: 14.28%;
  min-height: calc(78vh / 6);
  max-height: calc(78vh / 5); }
  body .navigation .content .dayMiniature a, body .navigation .content .dayMiniatureWithMessage a, body .navigation .content .dayMiniatureIsToday a, body .navigation .content .dayMiniatureSaturday a, body .navigation .content .dayMiniatureSunday a, body .navigation .content .dayToLeft a, body .navigation .content .dayToRight a {
    background-color: white;
    color: var(--main-color);
    border-radius: 50%;
    min-height: 100%;
    min-width: calc(78vh / 6);
    max-width: calc(78vh / 5);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .3s;
    position: relative; }
    body .navigation .content .dayMiniature a:hover, body .navigation .content .dayMiniatureWithMessage a:hover, body .navigation .content .dayMiniatureIsToday a:hover, body .navigation .content .dayMiniatureSaturday a:hover, body .navigation .content .dayMiniatureSunday a:hover, body .navigation .content .dayToLeft a:hover, body .navigation .content .dayToRight a:hover {
      box-shadow: 5px 5px 5px #016589;
      transform: scale(1.05); }
    body .navigation .content .dayMiniature a span#numberOfDay, body .navigation .content .dayMiniatureWithMessage a span#numberOfDay, body .navigation .content .dayMiniatureIsToday a span#numberOfDay, body .navigation .content .dayMiniatureSaturday a span#numberOfDay, body .navigation .content .dayMiniatureSunday a span#numberOfDay, body .navigation .content .dayToLeft a span#numberOfDay, body .navigation .content .dayToRight a span#numberOfDay {
      font-size: 2em; }
    body .navigation .content .dayMiniature a span#nameOfday, body .navigation .content .dayMiniatureWithMessage a span#nameOfday, body .navigation .content .dayMiniatureIsToday a span#nameOfday, body .navigation .content .dayMiniatureSaturday a span#nameOfday, body .navigation .content .dayMiniatureSunday a span#nameOfday, body .navigation .content .dayToLeft a span#nameOfday, body .navigation .content .dayToRight a span#nameOfday {
      font-size: .9em;
      font-weight: bold; }
    body .navigation .content .dayMiniature a span#envelope, body .navigation .content .dayMiniatureWithMessage a span#envelope, body .navigation .content .dayMiniatureIsToday a span#envelope, body .navigation .content .dayMiniatureSaturday a span#envelope, body .navigation .content .dayMiniatureSunday a span#envelope, body .navigation .content .dayToLeft a span#envelope, body .navigation .content .dayToRight a span#envelope {
      display: none; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif; }
  body .navigation {
    background-color: var(--main-color);
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column; }
    body .navigation > ul {
      padding: 0;
      display: flex;
      width: 100%;
      height: 20%;
      list-style-type: none;
      overflow: hidden; }
      body .navigation > ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        text-align: center;
        padding: 0;
        user-select: none;
        text-transform: uppercase;
        font-size: 3em;
        color: white;
        transition: .2s; }
        body .navigation > ul li:hover {
          transform: scale(0.98);
          cursor: pointer; }
        body .navigation > ul li:nth-child(2) {
          font-size: 2em;
          letter-spacing: 10px;
          font-weight: bold; }
          body .navigation > ul li:nth-child(2) a {
            text-decoration: none;
            color: white; }
        body .navigation > ul li:nth-child(1):hover {
          transform: translate(-5%); }
        body .navigation > ul li:nth-child(3):hover {
          transform: translate(5%); }
    body .navigation .content {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 80%;
      align-items: center; }
      body .navigation .content .breaker {
        display: none; }
      body .navigation .content .dayMiniatureWithMessage a span#envelope {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
        color: #00cc00;
        text-shadow: 0px 0px 5px #00b300;
        position: absolute;
        animation: pulse 3s infinite; }
        body .navigation .content .dayMiniatureWithMessage a span#envelope:after {
          content: '!';
          font-size: 1.3em; }

@keyframes pulse {
  0% {
    transform: scale(1) translateX(70%) translateY(30%); }
  50% {
    transform: scale(1.15) translateX(70%) translateY(30%); }
  100% {
    transform: scale(1) translateX(70%) translateY(30%); } }
      body .navigation .content .dayMiniatureIsToday a {
        border: 4px solid; }
      body .navigation .content .dayMiniatureSaturday a {
        color: #e68a00; }
      body .navigation .content .dayMiniatureSunday a {
        color: #e60000; }
      body .navigation .content .dayMiniatureSunday + .breaker {
        display: flex;
        flex-basis: 100%;
        height: 0%; }
      body .navigation .content .dayToLeft {
        margin-right: auto; }
      body .navigation .content .dayToRight {
        margin-left: auto; }
    body .navigation .day {
      display: flex;
      width: 100%;
      height: 80%;
      flex-direction: column; }
      body .navigation .day .miniCalendar {
        display: flex;
        width: 100%;
        height: 10%;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 3%; }
        body .navigation .day .miniCalendar > div {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          width: 2vw; }
          body .navigation .day .miniCalendar > div a {
            text-decoration: none;
            color: var(--main-color);
            font-size: .8em;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 100%;
            height: 2vw;
            background-color: white;
            transition: .2s; }
            body .navigation .day .miniCalendar > div a:hover {
              box-shadow: 5px 5px 5px #016589;
              transform: scale(1.2); }
          body .navigation .day .miniCalendar > div > span.isMessageMini {
            display: none; }
          body .navigation .day .miniCalendar > div > span.dayNameMini {
            width: 100%;
            color: white;
            text-align: center;
            font-size: .6em;
            font-weight: bold; }
        body .navigation .day .miniCalendar > div.isSaturday a, body .navigation .day .miniCalendar > div.isSaturday span.dayNameMini {
          color: #e68a00; }
        body .navigation .day .miniCalendar > div.isSunday a, body .navigation .day .miniCalendar > div.isSunday span.dayNameMini {
          color: #e60000; }
        body .navigation .day .miniCalendar > div.isToday a {
          border: 1px solid #005ce8; }
        body .navigation .day .miniCalendar > div.isMessage span.isMessageMini {
          display: inline-block;
          position: absolute;
          color: #00cc00;
          text-shadow: 0px 0px 3px #00b300;
          transform: translateY(10%);
          font-size: .8em;
          font-weight: bolder;
          user-select: none; }
        body .navigation .day .miniCalendar > div.currentActive a {
          box-shadow: 5px 5px 5px #016589;
          transform: scale(1.2); }
      body .navigation .day .postsPanel {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row; }
        body .navigation .day .postsPanel .formPanel {
          display: flex;
          flex: .7;
          justify-content: center;
          align-items: center; }
          body .navigation .day .postsPanel .formPanel form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90%;
            height: 90%;
            border-radius: 10px; }
            body .navigation .day .postsPanel .formPanel form textarea {
              width: 100%;
              height: 90%;
              border-radius: 10px 010px 0px 0px;
              text-align: center;
              padding: 10%;
              resize: none; }
            body .navigation .day .postsPanel .formPanel form .controls {
              display: flex;
              width: 100%;
              border-radius: 0px 0px 10px 10px;
              flex: 1; }
              body .navigation .day .postsPanel .formPanel form .controls input, body .navigation .day .postsPanel .formPanel form .controls label {
                display: flex;
                flex: 1;
                justify-content: center;
                align-items: center;
                text-transform: capitalize; }
                body .navigation .day .postsPanel .formPanel form .controls input input, body .navigation .day .postsPanel .formPanel form .controls label input {
                  max-width: 10%; }
              body .navigation .day .postsPanel .formPanel form .controls #sub {
                border-radius: 0px 0px 10px 0px; }
              body .navigation .day .postsPanel .formPanel form .controls #notes {
                background-color: lightblue;
                border-radius: 0px 0px 0px 10px; }
              body .navigation .day .postsPanel .formPanel form .controls #handover {
                background-color: orange; }
              body .navigation .day .postsPanel .formPanel form .controls #lookbook {
                background-color: green; }
        body .navigation .day .postsPanel .allLists {
          display: flex;
          flex: 1.3;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background-color: white;
          margin: 1.7%;
          border-radius: 10px 10px 10px 10px; }
          body .navigation .day .postsPanel .allLists .listSelect {
            display: flex;
            width: 100%;
            height: 10%; }
            body .navigation .day .postsPanel .allLists .listSelect label {
              display: flex;
              flex: 1;
              justify-content: center;
              align-items: center;
              text-transform: capitalize; }
              body .navigation .day .postsPanel .allLists .listSelect label:nth-child(1) {
                background-color: white;
                color: var(--main-color);
                border-radius: 10px 0px 0px 0px; }
              body .navigation .day .postsPanel .allLists .listSelect label:nth-child(2) {
                background-color: lightblue; }
              body .navigation .day .postsPanel .allLists .listSelect label:nth-child(3) {
                background-color: orange; }
              body .navigation .day .postsPanel .allLists .listSelect label:nth-child(4) {
                background-color: green;
                border-radius: 0px 10px 0px 0px; }
          body .navigation .day .postsPanel .allLists ul {
            width: 100%;
            height: 90%;
            border-radius: 0px 0px 10px 10px;
            list-style-type: none; }
            body .navigation .day .postsPanel .allLists ul lh {
              height: 10%;
              display: flex;
              justify-content: center;
              align-items: center;
              text-transform: uppercase;
              font-size: .8em; }
            body .navigation .day .postsPanel .allLists ul li {
              width: 100%;
              display: flex; }
              body .navigation .day .postsPanel .allLists ul li span.editer, body .navigation .day .postsPanel .allLists ul li span.delete {
                cursor: pointer; }
              body .navigation .day .postsPanel .allLists ul li .editPosterDeactive {
                display: none; }
              body .navigation .day .postsPanel .allLists ul li .editPosterActive {
                justify-content: center;
                align-items: center;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.8);
                z-index: 1000;
                display: flex;
                width: 100vw;
                height: 100vh;
                top: 0;
                left: 0; }
                body .navigation .day .postsPanel .allLists ul li .editPosterActive form {
                  width: 90%;
                  height: 40%; }
                  body .navigation .day .postsPanel .allLists ul li .editPosterActive form textarea {
                    width: 40%;
                    height: 50%; }
          body .navigation .day .postsPanel .allLists ul.notesPostList {
            background-color: lightblue; }
          body .navigation .day .postsPanel .allLists ul.handoverPostList {
            background-color: orange; }
          body .navigation .day .postsPanel .allLists ul.lookbookPostList {
            background-color: green; }
          body .navigation .day .postsPanel .allLists ul.allPostListDeactive {
            display: none; }
          body .navigation .day .postsPanel .allLists ul.notesPostListDeactive {
            display: none; }
          body .navigation .day .postsPanel .allLists ul.handoverPostListDeactive {
            display: none; }
          body .navigation .day .postsPanel .allLists ul.lookbookPostListDeactive {
            display: none; }
